<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Providers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <h1>Providers Disponibles</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            {% for provider in providers %}
            <tr>
                <td>{{ provider.Name }}</td>
                <td>{{ provider.ServiceName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>

